<div class="card mt-4">
  <h4 class="card-header">Logged In</h4>
  <div class="card-body">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <button type="button" class="btn btn-primary" (click)="addNew()">Add New Ip</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of headers">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ip of ips.ip">
          <th scope="row">{{ip.id}}</th>
          <td>{{ip.ip}}</td>
          <td><a href="#" [routerLink]="['/modify', ip.id]">{{ip.desc}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
