<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Modify</h4>
        <div class="card-body">
            <form [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" formControlName="desc" [(ngModel)]="ip.desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" />
                    <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                        <div *ngIf="f.desc.errors.required">Description is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Update
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>